$default-text-color: #444;

:root {
  --default-text-color: #{$default-text-color};
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: $default-text-color;
  box-sizing: border-box;
  font-size: 16px;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.screen {
  display: flex;
  flex-direction: column;
  height: 100%;
}
